body{
    background-color: antiquewhite;
}

header{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: "Sekuya", system-ui;
}

p{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: "Share Tech", system-ui;
}

footer{
    background-color: rgb(203, 169, 119);
    text-align: center;
}
